# ignore .vscode directory
.vscode
cpp/.vscode/
.vscode/settings.json

# ignore node_modules directory
node_modules/

# ignore other non-code related files
*.log
.DS_Store
Thumbs.db
*.json
./code.code-workspace
*.exe
cpp/main.cpp
cpp/*dSYM/
*.txt
